/**************************************

Manuel des fonctions :

width : ?px ( largeur en pixel )
height : ?px ( hauteur en pixel )

padding-top/left : ? ( taille de la marge a partir du haut et de la gauche )
padding : ? ?px ?px ?px ( placement du texte par rapport à la marge ) ( haut | droit | bas | gauche )
margin : ? ( ressemble a padding mais de façon plus large )

font-family : ? ( police d'écriture )
font-size : ? ( taille de la police d'écriture )

border : ?px ?type ?color ( bordure : taille | type | couleur )

display : ?type ( traite l'élement en ligne ou en colonne )


*****************************************/

/**********CLASSES DE BASE **************/

h1 {
    color:rgb(0, 0, 0);
    width: 220px;
    font-size: xx-large;
    font-family: 'Lucida Sans';
    padding : 5 1px 0px 10px;
    color: #FFFFFF;
    display : flex 1;
    border-radius: 15px;
    background-color: #69306D;
    margin: 10;
    ;
}

h2 {    /* Espace dans le header*/
    padding: 20 1000px 15px 20px;
}

.dis {
    padding: 30 10px 10px 10px;
}

html {
    font-family: Arial;
    background-image: url(background.jpg);
}


a {
    padding : 1 1px 1px 10px;
}

h3 {
    padding : 20 20px 10px 10px;
    border: 1px solid red;
}

h4 {
    margin-left : 500;
    font-size: xx-large;
    color:#FFFFFF;
    font-family: Lucida Sans;
}

h5 {
    font-size: large;
}

h6 {
    font-size: small;
}

h7 {
    font-size: xx-large;
}

footer {
    margin-left: 500px;
}

/**************BOITE D'INTRO***********************/

.layout {
    display: flex ;
    padding : 20 10 10 10;
}

.wrapper {  /* Tout ce qui concerne la boite me decouvrir*/
    height : 400px; 
    width : 720px; 
    margin-left: 500;
    margin-top: 150;
    display : flex;
    border-radius: 15px;
}

.box {  
    margin : 10;
    width : 250px;
    height : 280px;
}

.button1 {
    line-height: 3; /*taillle du bouton*/
    width : 200;
    padding : 5 20px;  /*La position du texte dans le bouton*/
    background-color: whitesmoke;
    border-radius: 10px; /*les arrondies du bouton*/
    margin : 25; /* Posiiton approximative du bouton */
    margin-left: 150px;
    border : 0;
}


/****************BOITE PROFESSIONNEL********************/

.prof_1 {

    border: 1px solid blue;
    padding: 10 10px 15px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    display: grid;
    
}

.prof_2 {

    border: 1px solid blue;
    padding: 10 10px 15px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-left: 250px;
    display: grid;
}

.prof_3 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-top: 50px;
    display: grid;
}

.prof_4 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 50px;
    display: grid;
}

.prof_5 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-top: 50px;
    display: grid;
}

.prof_6 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 50px;
    display: grid;
}

.prof_7 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-top: 50px;
    display: grid;
}

.prof_8 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 50px;
    display: grid;
}

.prof_9 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-top: 50px;
    display: grid;
}

.prof_10 {

    border: 1px solid blue;
    padding: 10 10px 10px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 50px;
    display: grid;
}

.prof {  /* Tout ce qui concerne la boit des projets pro*/
    height : 600px; 
    width : 720px; 
    margin-left: 500;
    margin-top: 150;
    display : flex;
    flex-wrap: wrap;
}


/****************BOITE PERSONNEL********************/

.perso_1 {

    border: 1px solid blue;
    padding: 10 10px 15px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    display: grid;
}

.perso_2 {

    border: 1px solid blue;
    padding: 10 10px 15px 20px;
    background-color: #FFFFFF;
    height: 230px;
    border-radius: 15px;
    margin-left: 250px;
    display: grid;
}

.perso {  /* Tout ce qui concerne la boit des projets pro*/
    height : 600px; 
    width : 720px; 
    margin-left: 500;
    margin-top: 150;
    display : flex;
    flex-wrap: wrap;
}

.button2 {  /* EN SAVOIR PLUS */
    border : 1;
    line-height: 2.5; /*taillle du bouton*/
    width : 180;
    padding : 2;  /*La position du texte dans le bouton*/
    background-color: whitesmoke;
    border-radius: 10px; /*les arrondies du bouton*/
    margin : 20; /* Posiiton approximative du bouton */
}


/****************BOITE A PROPOS*************************/

.Propos {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 400px;
    margin-top: 100px;
}

.left-side {
    margin-left : 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.right-side {
    margin-left: 50px;
    margin-top: 50px;
}

.button3 {  /* TELECHARGER CV */
    border : 2px solid #69306D;
    line-height: 2.5; /*taillle du bouton*/
    width : 180;
    color : #FFFFFF;
    padding : 2;  /*La position du texte dans le bouton*/
    background-color: white;
    border-radius: 15px; /*les arrondies du bouton*/
    margin : 20; /* Posiiton approximative du bouton */
}

/******************TEMPLATE PROJET *********************/

.left-side-proj {
    margin-left: 50px;
    margin-top: 50px;
}

.right-side-proj {
    margin-left : 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/****************TRAITEMENT D'IMAGES********************/

/**************PERSONNEL***********/

.img_perso1 {  
    height: 200px;
    border : 1px solid black;
}

.img_perso2 {  
    height: 200px;
    border : 1px solid black;
}

.img_perso3 {  
    height: 200px;
    border : 1px solid black;
}

.img_perso4 {  
    height: 200px;
    border : 1px solid black;
}

/*************Professionel***********/

.img_prof1 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof2 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof3 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof4 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof5 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof6 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof7 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof8 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof9 {  
    height: 200px;
    border : 1px solid black;
}

.img_prof10 {  
    height: 200px;
    border : 1px solid black;
}

.Pdp {  
    height: 300px;
    border-radius: 10px;
}

.Pdp_sizer {
    height: 500px;
    border-radius: 10px;
}

.proj_x {
    height: 500px;
    border-radius: 15px;
}